<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h4>{{ site.latestNewsTitle }}</h4>
			<article class="row">
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500" style="padding-bottom: 20px">
						<h6>Training and Validation Data Available</h6>
						<p class="post-body"><a href="contest/" >Already Online</a></p>
			</div>		
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500" style="padding-bottom: 20px">
						<h6>Test Data Available</h6>
						<p class="post-body"><a href="contest/" >August 11, 2023</a></p>
			</div>		
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500" style="padding-bottom: 20px">
						<h6>Submission Deadline</h6>
						<p class="post-body">August 21, 2023 </p>
			</div>
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500" style="padding-bottom: 20px">
						<h6>Announcement of  the Winners</h6>
						<p class="post-body">August 30, 2023</p>
			</div>	
			<!-- <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>Early Bird Registration</h6>
						<p class="post-body">31 December, 2022</p>

			</div>	 -->
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>Paper Submission</h6>
						<p class="post-body"><a href="http://www.ieee-whispers.com/paper-submission/" >http://www.ieee-whispers.com/paper-submission/</a></p>
			</div>														
				<!-- {% for post in site.posts limit:2 %}
                    {% assign postUrl = site.baseurl | append: post.url %} 
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>{{ post.title }}</h6>
						<p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
					</div>
                {% endfor %} -->
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->