<!-- Prizes Section -->
<section id="prizes" class="prizes" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.prizesImage }});background-size:cover">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h4>{{ site.prizesTitle }}</h4>
            {% for prize in site.prizes %}
            {% assign colWidth = 12 | divided_by: forloop.length %}
            {% assign check = forloop.index | modulo:2 %}
            <div class="prize col-md-{{ colWidth }} col-xs-{{ colWidth }} animated hiding" data-animation="{% if forloop.index == 1 %}fadeInLeft{% elsif forloop.index == forloop.length %}fadeInRight{% else %}fadeInDown{% endif %}" data-delay="{% if check == 0 %}0{% else %}500{% endif %}">
<!--                 <h4>{{ prize.title }}</h4>
 -->                <div class="prize-img-wrapper">
                    <img class="img-responsive" src="{{ site.baseurl }}/img/hackathon/{{ prize.image }}" alt="Hackathon">
                </div>
                <p style="font-size: 20pt">{{ prize.info }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
<!--         <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.teamBlockTitle }}</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>
        </div> -->
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Winners</h4>
            {% for teamMember in site.data.team2023 %} {% if teamMember.team != null %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ teamMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/hackathon/' | append: teamMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <h2 class="name">{{ teamMember.surname }}</h2>
                                <div class="clearfix"></div>
                                <!-- <span class="position">{{ teamMember.title }}</span> -->
                            </div>
                            <a class="name" href="{{ teamMember.codeUrl }}" style="font-weight:bold ;">code</a>
                           <!--  {% for social in teamMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
                                </svg>
                            </a>
                            {% endfor %} -->
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<!-- End Team List -->

<!-- End Prizes Section -->
