<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
   <div class="content-wrapper text-justify">
<div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-0 col-sm-offset-2">
            <div class="col-lg-10 col-lg-offset-0">
                    <article class="row post">
                        <p class="post-body">The following is a set of baseline results from different methods. These results were obtained without using the training set. Only the first frame of the each testing sequence was used to estimate key parameters if needed. Please refer to [1] for details. Please refer to the contest page for related codes.</p>
                    </article>
                    <article class="row post">      
 <style>
          table.dataintable {
    margin-top:-40px;
    border-collapse:collapse;
    border-top:1px solid #3F3F3F; 
    width:85%;
    margin: 0 auto
    margin-bottom: 30px;
    }

table.dataintable th {
    vertical-align:baseline;
    padding:5px 15px 5px 6px;
    background-color:#F5F5F5;
    border:1px solid #3F3F3F;
    text-align:center;
    color:rgba(0,0,0,0.8);
    }

table.dataintable td {
    vertical-align:text-top;
    padding:6px 15px 6px 6px;
    border:1px solid #3F3F3F;
    }

table.dataintable tr:nth-child(odd) {
    background-color:#F5F5F5;
}

table.dataintable tr:nth-child(even) {
    background-color:#fff;
}
    </style>
    <table width="95%" class="dataintable" align="center">
                        <tr>
                        <th colspan="3">False-color/Hyperspectral videos</th>
                        <!-- <th colspan="3">Color videos</th> -->
                        </tr>                       
                        <tr>
                        <td class="tracker">Tracker</td>
                        <td>AUC</td>
                        <td>DP@20pixels</td>
                  <!--       <td>AUC</td>
                        <td>DP@20pixels</td>    -->                     
                        </tr>
                        <tr> 
                        <td class="tracker"><a href="#xiong_1">MMF-Net [1]</a></td>
                        <td>0.5266</td>
                        <td>0.6826</td>
                        </tr>   
                         <tr> 
                        <td class="tracker"><a href="#siamban">ViPT [2]</a></td>
                        <td>0.5764</td>
                        <td>0.7391</td>
                        </tr>  

                         <tr> 
                        <td class="tracker"><a href="#siamcar">TransDAT [3]</a></td>
                        <td>0.4532</td>
                        <td>0.5866</td>
                        </tr>    
                          <tr> 
                        <td class="tracker"><a href="#siamgat">SPIRIT [4]</a></td>
                        <td>0.4177</td>
                        <td>0.5336</td>
                        </tr>
                        <tr> 
                        <td class="tracker"><a href="#see">SEE-Net [4]</a></td>
                        <td>0.4257</td>
                        <td>0.6070</td>
                        </tr>
                          <!-- <tr> 
                        <td class="tracker"><a href="#stark">STARK [5]</a></td>
                        <td>0.557</td>
                        <td>0.762</td>
                        </tr>    
                        <tr> 
                        <td class="tracker"><a href="#transt">TranST [6]</a></td>
                        <td>0.569</td>
                        <td>0.777</td>
                        </tr>      -->              
                        <!-- <tr> 
                        <td class="tracker"><a href="#xiong_1">MHT [1]</a></td>
                        <td>0.586</td>
                        <td>0.882</td>
                        <td>n/a</td>
                        <td>n/a</td>
                        </tr>                       
                        <tr>
                        <td class="tracker"><a href="#Galoogahi_1">BACF [2] </a></td>
                        <td>0.5440</td>
                        <td>0.8165</td>
                        <td>0.5315</td>
                        <td>0.7917</td>
                        </tr>  
                        <tr>
                        <td class="tracker"><a href="#fDSST"> fDSST [3]</a></td>
                        <td>0.4416</td>
                        <td>0.7047</td>
                        <td>0.4639</td>
                        <td>0.7274</td>
                        </tr>   
                        <tr>
                        <td class="tracker"><a href="#KCF">KCF [4]</a></td>
                        <td>0.4078</td>
                        <td>0.5834</td>
                        <td>0.3769</td>
                        <td>0.6117</td>
                        </tr>
                        <tr>
                        	    
                        <td class="tracker"><a href="#VITAL">VITAL [5]</a></td>
						<td>0.6047</td>
                        <td>0.9453</td>                        
                        <td>0.5759</td>
                        <td>0.8599</td>
                        </tr>
                        <tr>
                        <td class="tracker"><a href="#CCOT">C-COT [6]</a></td>
                        <td>0.5572</td>
                        <td>0.8692</td>
                        <td>0.6020</td>
                        <td>0.8971</td>
                        </tr>   
                        <tr>
                        <td class="tracker"><a href="#CFNet">CFNet [7]</a></td>
                        <td>0.5426</td>
                        <td>0.8756</td>
                        <td>0.5596</td>
                        <td>0.8648</td>
                        </tr> 
                         <tr>
                        <td class="tracker"><a href="#BAENet">BAE-Net [8]</a></td>
                        <td>0.606</td>
                        <td>0.876</td>
                        <td>n/a</td>
                        <td>n/a</td>
                        </tr> 
                         <tr>
                        <td class="tracker"><a href="#HANet">HA-Net [9]</a></td>
                        <td>0.687</td>
                        <td>0.946</td>
                        <td>n/a</td>
                        <td>n/a</td> -->
                        <!-- </tr>       -->
                     <!--    <tr>
                        <td class="tracker"><a href="#ECO">ECO [8]</a></td>
                        <td>0.5591</td>
                        <td>0.8326</td>
                        <td>0.5775</td>
                        <td>0.8565</td>
                        </tr>   -->                         
                    </table>  
        <h6 style="white-space: normal; margin-top: 30px;"><span style="text-indent: 0; ">References</span>
             </h6>

            <div class="conTxt" style="">
            <ul>
            <p style="white-space: normal; text-indent: 0em;">
            <p name="xiong_1">[1] Z. Li, F. Xiong, J. Zhou, J. Lu, Z. Zhao and Y. Qian, "Material-Guided Multiview Fusion Network for Hyperspectral Object Tracking,"  IEEE Transactions on Geoscience and Remote Sensing, vol. <a href="https://github.com/hscv/MMF-Net" style="font-weight: 500;">code</a> &nbsp<a href="/assets/results/MMF-Net.zip" style="font-weight: 500;">Results</a></p> </p>
             
            <p style="white-space: normal; text-indent: 0em;">
            <p name="siamban">[2] Zhu J, Lai S, Chen X, et al. Visual prompt multi-modal tracking[C]//Proceedings of the IEEE/CVF conference on computer vision and pattern recognition. 2023: 9516-9526.  <a href="https://github.com/jiawen-zhu/ViPT" style="font-weight: 500;">code</a> &nbsp<a href="/assets/results/ViPT.zip" style="font-weight: 500;">Results</a></p>
            </p>
             


           <!--  <p style="white-space: normal; text-indent: 0em;">
            <p name="SRDCF">[3] M. Danelljan, G. Hger, F. S. Khan, and M. Felsberg, “Learning spatially regularized correlation
            filters for visual tracking,” in Proc. IEEE Int. Conf. Comput. Vis. (ICCV), 2015, pp. 4310–4318.</p>
            </p>
              -->
            <p style="white-space: normal; text-indent: 0em;">
                        <p name="siamcar">[3] Y. Wu, L. Jiao, X. Liu, F. Liu, S. Yang and L. Li, "Domain Adaptation-aware Transformer for Hyperspectral Object Tracking," in IEEE Transactions on Circuits and Systems for Video Technology.  <a href="https://github.com/LianYi233/Trans-DAT" style="font-weight: 500;">code</a>&nbsp<a href="/assets/results/TransDAT.zip" style="font-weight: 500;">Results</a></p> 
            </p>
             
            <p style="white-space: normal; text-indent: 0em;">
            <p name="siamgat">[4] Y. Chen, Q. Yuan, Y. Tang, Y. Xiao, J. He and L. Zhang, "SPIRIT: Spectral Awareness Interaction Network With Dynamic Template for Hyperspectral Object Tracking," in IEEE Transactions on Geoscience and Remote Sensing, vol. 62, pp. 1-16, 2024.  <a href="https://github.com/YZCU/SPIRIT" style="font-weight: 500;">code</a>&nbsp<a href="/assets/results/SPIRIT.zip" style="font-weight: 500;">Results</a></p>
            </p>
            <p name="see">[5] Z. Li, F. Xiong, J. Zhou, J. Lu and Y. Qian, "Learning a Deep Ensemble Network With Band Importance for Hyperspectral Object Tracking," in IEEE Transactions on Image Processing, vol. 32, pp. 2901-2914, 2023, doi: 10.1109/TIP.2023.3263109.  <a href="https://github.com/hscv/SEE-Net" style="font-weight: 500;">code</a>&nbsp<a href="/assets/results/SEE-Net.zip" style="font-weight: 500;">Results</a></p>
                        </p>
                                   
             
          <!--   <p style="white-space: normal; text-indent: 0em;">
            <p name="stark">[5] Yan B, Peng H, Fu J, et al. Learning spatio-temporal transformer for visual tracking[C]//Proceedings of the IEEE/CVF international conference on computer vision. 2021: 10448-10457. <a href="https://github.com/researchmm/Stark" style="font-weight: 500;">code</a>&nbsp<a href="/assets/results/stark2.zip" style="font-weight: 500;">Results</a>
            </p>
            </p>


             
            <p style="white-space: normal; text-indent: 0em;">
            <p name="transt">[6] Chen X, Yan B, Zhu J, et al. Transformer tracking[C]//Proceedings of the IEEE/CVF conference on computer vision and pattern recognition. 2021: 8126-8135.  <a href="https://github.com/chenxin-dlut/TransT" style="font-weight: 500;">code</a>&nbsp<a href="/assets/results/transt.zip" style="font-weight: 500;">Results</a></p>
            </p> -->
             


        <!--     <p style="white-space: normal; text-indent: 0em;">
            <p name="ECO">[7] M. Danelljan, G. Bhat, F. S. Khan, and M. Felsberg, “ECO: Efficient convolution operators for tracking.”
            in Proc. IEEE Conf. Comput. Vis. Pattern Recognit. (CVPR), 2017, pp. 6638–6646. <a href="https://github.com/martin-danelljan/ECO" style="font-weight: 500;">code</a></p>
            </p> -->
             
           <!--  <p style="white-space: normal; text-indent: 0em;">
                        <p name="CFNet">[7] J. Valmadre, L. Bertinetto, J. Henriques, A. Vedaldi, and P. H. S. Torr, “End-to-end representation
            learning for correlation filter based tracking,” in Proc. IEEE Conf. Comput. Vis. Pattern Recognit. (CVPR), 2017, pp. 2805–2813. <a href="https://github.com/bertinetto/cfnet" style="font-weight: 500;">code</a></p>
            </p>
             <p style="white-space: normal; text-indent: 0em;">
                        <p name="BAENet">[8] Z. Li, F. Xiong, J. Zhou, J. Wang, J. Lu and Y. Qian, "BAE-Net: A Band Attention Aware Ensemble Network for Hyperspectral Object Tracking," in Proc. IEEE International Conference on Image Processing (ICIP), 2020. <a href="/assets/code/BAENet_realease.zip" style="font-weight: 500;">code</a> &nbsp<a href="/assets/code/BAENet_res.zip" style="font-weight: 500;">Results</a></p>
            </p>
            <p style="white-space: normal; text-indent: 0em;">
                        <p name="HANet">[9] Z. Liu et al., "An Anchor-Free Siamese Target Tracking Network for Hyperspectral Video," 2021 11th Workshop on Hyperspectral Imaging and Signal Processing: Evolution in Remote Sensing (WHISPERS), 2021. </p>
            </p> -->
            </div>                                                            
                    </article>    
        </div>        
       <!--  {% for day in site.data.schedule %}
        <div class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
            <h4 class="schedule-table-heading">{{ day.dateReadable }}</h4>
            <div class="timeslot track-header stick-header">
                <div class="track-header-label">Day {{ forloop.index }}</div>
                <div class="timeslot-elements flexbox-wrapper">
                    {% for track in day.tracks %}
                    {% assign trackColWidth = 12 | divided_by: forloop.length %}
                    <div class="track-header-slot col-md-{{ trackColWidth }} flexbox-item-height hidden-xs">
                        <h5 class="track-header-title">{{ track.title }}</h5>
                    </div>
                    {% endfor %}
                    <div class="track-header-slot col-xs-12 visible-xs">
                        <h5 class="slot-detail track-header-title"></h5>
                    </div>
                </div>
            </div>
            {% for timeslot in day.timeslots %}
            <div class="timeslot" itemtype="http://schema.org/subEvent">
                <div class="timeslot-label">
                    <time class="start-time" itemprop="startDate" datetime="{{ day.dateReadable }}T{{ timeslot.startTime }}">
                        {% assign startTime = timeslot.startTime | split: ":" %}
                        {{ startTime[0] }}<span>{{ startTime[1] }}</span>
                    </time>
                    <time class="end-time" itemprop="endDate" datetime="{{ day.dateReadable }}T{{ timeslot.endTime }}">
                        {% assign endTime = timeslot.endTime | split: ":" %}
                        {{ endTime[0] }}<span>{{ endTime[1] }}</span>
                    </time>
                </div>
                <div class="timeslot-elements flexbox-wrapper">
                    {% for slot in timeslot.sessionIds %}
                        {% assign slotColWidth = 12 | divided_by: forloop.length %}
                        {% assign slotIndex = forloop.index0 %}
                        {% if slot != 404 %}
                            {% for session in site.data.sessions %}
                                {% if slot == session.id and session.service == null %}
                                <div id="session-{{ session.id }}" class="slot col-md-{{ slotColWidth }} col-xs-12 flexbox-item-height" data-slot-detail="{{ day.tracks[slotIndex].title }}" data-toggle="modal" data-target="#sessionDetail-{{ session.id }}">
                                    <div class="color-line" style="background: {{ day.tracks[slotIndex].color }}"></div>
                                    <div class="slot-content" style="border-right-color: {{ day.tracks[slotIndex].color }}">
                                        <h5 class="slot-title" itemprop="name">{{ session.title }}</h5>
                                        <span class="slot-language">{{session.language | upcase}}</span>
                                        <ul class="slot-speakers">
                                            {% for speaker in site.data.speakers %}
                                                {% for session_speaker in session.speakers %}
                                                    {% if session_speaker == speaker.id %}
                                                    <li itemprop="performer"><div class="speaker-img flow-img img-circle" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})"></div>
                                                    <p class="speaker-name">{{ speaker.name }} {{ speaker.surname }}
                                                        <span class="speaker-position">{{ speaker.company }}</span>
                                                    </p>
                                                    </li>
                                                    {% endif %}
                                                {% endfor %}    
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% elsif slot == session.id and session.service != null %}
                                <div class="slot col-md-{{ slotColWidth }} col-xs-12 service-slot flexbox-item-height" data-slot-detail="{{ session.place }}">
                                    <div class="color-line"></div>
                                    <div class="slot-content">
                                        <h5 class="slot-title" itemprop="name">{{ session.title }}</h5>
                                        {% if session.description != null %}
                                        <p class="service-description">{{ session.description }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <div class="slot col-md-{{ slotColWidth }} hidden-xs blank-col flexbox-item-height"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %} -->
    </div>
</section>
<!-- End Schedule Section -->
